**/.DS_Store
**/*.o
**/*.a
**/*.user
.vs/
cpp/OpenGL/10/VS/Tetris/bin/*
cpp/OpenGL/10/VS/Tetris/tmp/*
cpp/OpenGL/11/VS/grow/bin/*
cpp/OpenGL/11/VS/grow/tmp/*
cpp/OpenGL/12/VS/lsystem/bin/*
cpp/OpenGL/12/VS/lsystem/tmp/*
cpp/OpenGL/14_TerrainSynthesis/VS/terrain/bin/*
cpp/OpenGL/14_TerrainSynthesis/VS/terrain/tmp/*
cpp/OpenGL/14_TerrainSynthesis/VS/terrain/x64/*
cpp/GameOfLife/VS/GameOfLife/bin/*
cpp/GameOfLife/VS/GameOfLife/tmp/*
cpp/OpenGL/12_GameOfLife/VS/GameOfLife/bin/*
cpp/OpenGL/12_GameOfLife/VS/GameOfLife/tmp/*
cpp/OpenGL/12_GameOfLife/VS/GameOfLife/x64/*
cpp/OpenGL/12_GameOfLife/VS/GameOfLife/*.glsl
cpp/OpenGL/13_GameOfLife3D/VS/GameOfLife3D/bin/*
cpp/OpenGL/13_GameOfLife3D/VS/GameOfLife3D/tmp/*
cpp/OpenGL/13_GameOfLife3D/VS/GameOfLife3D/x64/*
cpp/OpenGL/13_GameOfLife3D/VS/GameOfLife3D/*.glsl
cpp/OpenGL/15_Splines/VS/bin/*
cpp/OpenGL/15_Splines/VS/tmp/*
cpp/OpenGL/15_Splines/VS/x64/*
cpp/OpenGL/19_Asteroids/VS/bin/*
cpp/OpenGL/19_Asteroids/VS/tmp/*
cpp/OpenGL/19_Asteroids/VS/x64/*
cpp/OpenGL/Utils/VS/x64/*
