**/.DS_Store
**/*.o
**/*.a
**/*.user
.vs/
cpp/OpenGL/10/VS/Tetris/bin/*
cpp/OpenGL/10/VS/Tetris/tmp/*
cpp/OpenGL/11/VS/grow/bin/*
cpp/OpenGL/11/VS/grow/tmp/*
cpp/OpenGL/12/VS/lsystem/bin/*
cpp/OpenGL/12/VS/lsystem/tmp/*
cpp/OpenGL/terrain/VS/terrain/bin/*
cpp/OpenGL/terrain/VS/terrain/tmp/*
cpp/GameOfLife/VS/GameOfLife/bin/*
cpp/GameOfLife/VS/GameOfLife/tmp/*
cpp/OpenGL/GameOfLife/VS/GameOfLife/bin/*
cpp/OpenGL/GameOfLife/VS/GameOfLife/tmp/*
cpp/OpenGL/GameOfLife/VS/GameOfLife/*.glsl
cpp/OpenGL/GameOfLife3D/VS/GameOfLife3D/bin/*
cpp/OpenGL/GameOfLife3D/VS/GameOfLife3D/tmp/*
cpp/OpenGL/GameOfLife3D/VS/GameOfLife3D/*.glsl
cpp/OpenGL/Splines/VS/bin/*
cpp/OpenGL/Splines/VS/tmp/*
